<h1>Cats:</h1>
<% @cats.each do |cat| %>
	<%= cat.name %> <br/>
<% end %>

<h1>Users:</h1>
<% @users.each do |user| %>
	<%= user.username %> <br/>
	<%= user.email %>
	<br/><br/>
<% end %>

<h1>Todolist:</h1>
<% @todos.each do |todo| %>
	<%= todo.title %> <br/>
	<%= todo.completed %>
	<br/><br/>
<% end  %>
